.tabslist {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;
}

.tab {
  /*border: 1px solid black;*/
  padding: 6px 0;
  font-size: 14px;
  color: #51291e;
}

.tab__selected{
  background-color: #85c7f2;
  border: 1px solid #279af1;
}

.tab:first-child {
  border-top-left-radius: 8px;
  border-end-start-radius: 8px;
}

.tab:last-child {
  border-top-right-radius: 8px;
  border-end-end-radius: 8px;
}
