.todoitem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid salmon;
  align-items: start;
  padding: 8px 6px;
  border-radius: 8px;
  column-gap: 8px;
}

.todoitem_completed {
  /*verificar*/
  display: inline-flex;
}

.todoitem_description {
  font-size: 14px;
  line-height: 1;
  text-align: start;
  flex-grow: 1;
}

.todoitem_actions {
  display: flex;
  column-gap: 8px;
}