.todoitem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: start;
  padding: 8px 6px;
  border-radius: 8px;
  column-gap: 8px;
}

.todoitem_completed {
  display: inline-flex;
}

.todoitem_description {
  font-size: 14px;
  line-height: 1;
  text-align: start;
  flex-grow: 1;
}

.todoitem_actions {
  display: flex;
  column-gap: 8px;
}

.todoitem_description_completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.todoitem_edit,
.todoitem_delete {
  font-weight: 600;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 12px;
}

.todoitem_edit {
  color: var(--color-button2);
}
.todoitem_delete {
  color: var(--color-error);
}
